% extends "layout.html" %}

{% block body %}
    <div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" >Home</a>
                </div>
                <div>
                    <a href="/products-and-services/">Products and Services</a>
                </div>
                <div>
                    <a href="/about-us/">About Us</a>
                </div>
            </div>
            <div class="navigation-bar-right">
                <div>
                    <input type="search">
                    <button>Search</button>
                </div>
                <div>
                    {% if 'username' in session %}
                        <a href="/logout/">Sign out</a>
                    {% else %}
                        <a href="/login/">Sign in</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid-item-row-2">
            <h2 class="signup-title">{{title}}: {{information}}</h2>
            <form method="post" action="/process-signup/">
                <div class="form-grid">
                     <label>First Name: </label><input type="text" name="firstname" required maxlength="20">
                     <label>Last Name: </label><input type="text" name="lastname" required maxlength="20">
                     <label>dob: </label><input type="text" name="dob" maxlength="20">
                     <label>address: </label><input type="text" name="address" placeholder="Enter a valid address here" required maxlength="50">
                     <label>NIN: </label><input type="text" name="NIN" required maxlength="20"
                     &nbsp;<input type="submit" value="Submit" class="button">
                </div>
            </form>
        </div>
    </div>
{% endblock%}